.bg {
  margin-top: 0px;
  width: 100%;
  height: 100%;
  background-image: url('image4/foot10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

.bg2 { 
  margin-top: 0px;
  width: 90%;
  height: 90%;
  background-image: url('image4/gym9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg3 { 
  margin-top: 0px;
  width: 100%;
  height: 100%;
  background-image: url('image4/foot5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
 
 .nav-link{
        font-size: 20px;
        font-weight: bold;
       
     
        }
        @media screen and (max-width: 500px){
          .nav-link{
            font-size: 15px;
          }
        }

 /*header*/   
.entete {
    max-width: 1600px;
    width: 100%;
    height: auto;
    background-color: rgb(104, 193, 235);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center; 
    display:grid;
    grid-template-rows:auto;
    grid-gap: 10px;
}
@media screen and (max-width:400px){
 .entete,h1{
    font-size: 10px;
 }
    }


.logo{
  background-color: rgb(148, 193, 214);
    height: 90px;
    width: 100px; 
    margin-left: -165px;
    margin-top: 70px;
   
    } 
    @media screen and (max-width: 500px){
      .logo{
        height: 40px;
        width: 40px;
        margin-left:30px;
      }
    }   


h1 {
    font-family: Arial, Helvetica, sans-serif;
   color:brown;
   width: 70%;
   text-align: center;
  }
   @media screen and (max-width: 500px){
    h1{
      font-size: 25px;
      margin-top: -100px;
      margin-left: 50px;
    } 
   }
    
      img{
          margin-top: 5px;
          
      }
      .table{
          padding-right: 50px;
          background-color: chartreuse;
      }

      /* acceuil*/
       .container1,.container2{
         width: 400px;
         margin-left: 180px;
         margin-top: 10px;
         background-color: rgb(195, 210, 218);
         border-radius: 10px;
         font-size: 17px;
         font-family: Arial, Helvetica, sans-serif;
         color: rgb(151, 7, 7);
        }
        @media screen and (max-width: 500px){
          .container1,.container2{
            width: 400px;
            height:auto;
          }
        }
         .nom1{
           background-color: rgb(228, 126, 126);
           border-radius: 10px 10px 0 0;
           margin: 0;
           text-align: center;
           color: azure;
          }
          @media screen and (max-width: 500px){
            h2{
              font-size: 05px;
            }
            p{
              font-size: 14px;
            }
          }
          .prenom {
            margin: 5px 10px;
          }
          .prenom p{
            color: #1a03ad;
          }
         
          .container1{
            grid-area: a;
          }
          .container2{
            grid-area: b;
            margin-right:300px;
          }

          .global{
            display: grid;
            grid-template-areas: "a b";
          }
           
          @media screen and (max-width: 500px){
                .global{
                  display: grid;
                  grid-template-areas:
                   "a a"
                   "b b";
                   margin-left: -140px;
                } 
           }

   /*information*/ 
   .infopratique h2{
    margin-left: 500px;
    font-weight: bold;
    color: brown;
   }
   @media screen and (max-width:500px) {
    .infopratique h2{
      font-size: 20px;
      margin-left: 80px;
      
    }
   }
  
  
   
  
   .horaire {
    width: 500px;
    grid-area: a;
   }
   @media screen and (max-width:500px) {
    .horaire {
       width: 400px;
     }
 }
 
     .Tarif {
      width: 500px;
      grid-area: b;
     }

     @media screen and (max-width:500px){
      .Tarif{
        width: 400px;
      }
   }
   .info1{
    display: grid;
    grid-template-areas:"a"
                         "b" ;
    justify-content: center;
   
   }  
   @media screen and (max-width:500px){
     .info1{
             width:400px ;
     }
   }
    
  
    .titre3 h3{
      font-size: 20px;
     }
     

     @media screen and (max-width:500px){

       .titre3 h3{
         font-size: 15px;
        }    
    }
     
    
     
      .horaire2{
        grid-area: c;
        width: 500px;
      }
      @media screen and (max-width:500px) {
        .horaire2{
          width: 400px;
        }
         
      }

     .Tarif2{
      grid-area: d;
      width: 500px;
     }
      @media screen and (max-width:500px){
        .Tarif2{
          width: 400px;
        }
      }

      .info2{
        display: grid;
        grid-template-areas: "c"
                             "d";
       
      }
       /*ensemble*/
       .info1{
        grid-area: x;
       }
       .info2{
        grid-area: y;
       }
      .information{
        display: grid;
        grid-template-areas: "x y ";
       
       }
    
       @media screen and (max-width:500px) {
        .information{
          display: grid;
          grid-template-areas: "x"
                               "y";
         justify-content: center; 
         
         
        }
       }
      .titre4 h3{
         font-size:20px ;
      }
      @media screen and (max-width:500px){
        .titre4 h3{
          font-size: 15px;
        }
      }
     .facebook h2{
       font-size: 25px;
       margin-left: 20px;
       color: rgb(34, 11, 62);
     }
     @media screen and (max-width:500px){
      .facebook h2{
        font-size: 15px;
        margin-left: 80px;
      }

     }
    .socialNetwork {
      margin-left: 50px;
      font-size: 20px;
      font-weight: bold;
     
    }
       
    
      
    
    
   

       
/*formulaire*/

.form1{
 margin: 10px;
 margin-top: 70px;
  background-color: rgb(248, 228, 118);
  border: 03px solid rgb(91, 8, 246) ;
  border-radius: 10px;
}
.formulaire h2{
    margin-left: 60px;
    margin-top: 10px;
    color: fuchsia;
    font-weight: bold;
    
}

.row{
    background-color: aqua;
   max-width: 1320px;
   border-radius: 20px;
}
#inputEmail6 {
    margin-left: 47px;
    width: 500px;
    margin-bottom: 10px;
}
#exampleFormControlTextarea1{
    width:500px;
    margin-bottom: 10px;
    margin-left: 27px;
}
#inputNom6{
    width: 500px;
    margin-left: 45px;
    margin-bottom: 10px;
}
#inputPrenom6{
    width: 500px;
    margin-left: 25px;
    margin-bottom: 10px; 
}
#inputNaissance6{
    margin-left: 13px;
    margin-bottom: 10px;
}
#inputTelephone6{
    width: 210px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.col-12{
    margin-left: 500px;
    margin-bottom: 10px;

}

/* football*/





.container{
  
  border-radius: 30px;
  margin-top: 60px;
  display: grid;
  grid-auto-rows: minmax(00px,auto);
  grid-gap:10px;
  grid-template-areas:
  " a a b b"
  " c c d d";
}
@media screen and (max-width: 500px){
  .container{
    display: grid;
    grid-template-areas:  
    "a a"
    "b b"
    
    "c c"
    "d d";
  }
}
.titre1{
   margin-top: 70px;
   text-align: center;
   background-color: rgb(122, 194, 223);
   border-radius: 20px;
   height: 160px;
   grid-area: a;
  }
   @media screen and (max-width: 450px){
    .titre1{
      
      width: 450px;
      margin-top:0px;
      height: 20px;
    }
    h2, h3{
      font-size: 5px;
    }
    h5{
      font-size: 10px;
    }
      
   }
   .titre h5{
    font-size: 20px;
    color: aqua;
   
   }
.csp-container{
  
  grid-area: b;
}
@media screen and (max-width: 500px){
  .csp-container{
    width: 250px;
  }
}
.titre2{
  margin-top: 60px;
  text-align: center;
   background-color: rgb(122, 194, 223);
   border-radius: 20px;
   height: 160px;
  grid-area: c;
}
@media screen and (max-width: 500px){
  .titre2{
   margin-top:10px;
    height: 100px;
  }
}

.salle{
  grid-area: d;
}
@media screen and (max-width: 500px){
  .salle{
    margin-top: 20px;
  }
}
.ecole1{
  margin-left: 80px;
 
}
.facebook h5{
  font-size: 20px;
  color: aqua;
}
@media screen and (max-width: 500px){
  .ecole1{
    width: 300px;
   
  }
.facebook h5{
  margin-right: 50px;
      font-size: 12px;
      color: aqua;
}

}
.socialNetwork i{
  font-size: 24px;
  margin-left: -10px;
  color: rgb(79, 127, 240);
}

/*slideshow*/
.slide-container{
    width: 450px;
    padding-top: 10px;
    }
    @media screen and (max-width: 500px){
      .slide-container{
        width: 400px;
       
        margin-left: -60px;
      }
    }

.slide-container img{
      height: 300px;
      width: 450px;
      margin-bottom: 20px;
   }  
   @media screen and (max-width: 400px){
    .slide-container img{
      height: 100px;
     
      margin-left: 250px;
      margin-bottom: 20px;
   } 
   img{
    width: 450px;
   } 
    }
 /*textanimaer*/
   .dynamic-text {
    position: relative;
    display: flex;
  }
    .simply {
      color:#333;
    }
  
    #text-target {
      display: flex;
      width: 300px;
      text-align: left;
      animation: color 30s alternate infinite;
      perspective: 200px;
      transform: translateX(26px);
    }
    .word {
      position: absolute;
    }
    @keyframes color {
      0% {
        color: red;
      }
      50% {
        color: blue;
      }
      100% {
        color: blue;
      }
    }
    .letter {
      transform: translateZ(200px);
    }
    @keyframes anim {
      25% {
        transform: translateZ(0px);
        opacity: 1;
      }
      32% {
        opacity: 0;
        transform: translateZ(-280px) translateX(200px);
      }
    }
    .footer{
      background-color: rgb(209, 226, 109);
      height: 30PX;
      text-align: center;
      border-radius: 20px;
      border-bottom: 10px;
    }
 
   .FloatingLabel{
      width: 40px;
      margin-top: 20px;
    }
/*football*/
    .match{
      margin-top: 60px;
    }
    .publication{
      margin-top: 60px;
    }
    .video{
      width: 100%;
     display: grid;
     grid-template-columns: repeat(4,250px);
     grid-gap:10px;
     
      margin-top: 70px;
      margin-left: 10px;
    }
    @media screen and (max-width: 500px){
      .video{
        display: flex;
        flex-direction: column;
      }
    }
    .planc{
      margin-top: -05px;
      width: 100%;
      height: 100%;
      background-image: url('image4/foot10.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed; 
    }
    




